<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        <link rel="stylesheet" href="../css/about-us.css">
        <link rel="stylesheet" href="../css/header-footer.css">
        <link rel="stylesheet" href="../css/banner.css">
        <script src="/js/about-us.js" defer></script>
        <script src="https://kit.fontawesome.com/cc44fc4986.js" crossorigin="anonymous"></script>
        <!-- import font family GFS Didot -->
        <link href="https://fonts.cdnfonts.com/css/gfs-didot" rel="stylesheet">
        <link rel="icon" href="/images/logo_hotel_black.png" type="image/icon type">
        <!-- hambuger -->
        <script src="/js/toggle-bar.js" defer></script>
    </head>

    <body>
        <header id="navbar">
            <nav class="navbar-container container">
                <a href="/" class="home-link"><img src="../images/logo_hotel_black.png" alt="Home"></a>
                <!-- begin toggle button -->
                <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <!-- end toggle button -->
                <div id="navbar-menu" aria-labelledby="navbar-toggle">
                <ul class="navbar-links">
                    <li class="navbar-item active" ><a class="navbar-link" href="/about-us">About Us</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/rooms-facilities">Rooms & Facilities</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/attractions">Attractions</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/manage-booking">Manage Booking</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/support">Support</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/booking">Book a Stay</a></li>
                </ul>
                </div>
            </nav>
        </header>
            <main>
                <!-- Banner info -->
                <div class="img-container">
            <div class="inner-container">
                <!-- insert text -->
                <h1>ABOUT US</h1><br>
                <!-- end text -->
            </div>
        </div>
                <!-- About Us and Our Team nav -->
                <div class="abt-nav">
                    <nav>
                    <a href="#about">About Us</a>
                    <a href="#team">Our Team</a>
                    </nav>
                </div>
               
                <!-- About us info -->
                <section id="about">
                    <!-- The first div of about us info -->
                    <div class="abt-container">
                        <img src="/images/abt005.jpg" alt="Attraction Image">
                        <div class="abt-text">
                            <p><i class="fa-solid fa-quote-left"></i>The Crown Hotel is a new independent hotel situated in the western edge of Norwich. Our hotel is conveniently located close to Norfolk and Norwich University Hospital.

It is well-served by public transport links, and Norwich city centre is only a short bus ride away, making it the ideal base for exploring our fine city.
<i class="fa-solid fa-quote-right"></i> </p>
                        </div>
                    </div>
                    <!-- The second div of about us info -->
                    <div class="abt-container">
                        <div class="abt-text">
                            <p id="second-div-p"><i class="fa-solid fa-quote-left"></i>
                           We offer clean, modern rooms that are perfect for business or leisure travel. Each room is equipped with comfortable beds, an en-suite bathroom, a television, a kettle and tea and coffee making facilities.

We pride ourselves on our service and would be happy to assist you with anything you need during your stay. 
<i class="fa-solid fa-quote-right"></i></p>
                        </div>   
                        <img src="/images/abt002.png" alt="Room Image">
                    </div>  
                    <!-- The third div of about us info -->
                    <div class="abt-container">
                        <img src="/images/abt003.jpg" alt="Attraction Image">
                        <div class="abt-text">
                            <p><i class="fa-solid fa-quote-left"></i>Each room at The Crown Hotel is meticulously designed to ensure a restful retreat for our guests. From plush furnishings to state-of-the-art facilities, we prioritize your comfort and satisfaction. Whether you're here for business or leisure, our accommodation caters to your every need.<i class="fa-solid fa-quote-right"></i>
                        </div>
                    </div>
                    <!-- The fourth div of about us info -->
                    <div class="abt-container">
                        <div class="abt-text">
                            <p id="second-div-p"><i class="fa-solid fa-quote-left"></i>
                                At The Crown Hotel, we take pride in creating an immersive experience for our guests. Our dedicated staff is committed to ensuring your stay is not just a temporary stop but a memorable part of your journey. Whether you're a seasoned traveler or a first-time visitor to Norwich, The Crown Hotel promises a stay that combines convenience, luxury, and a touch of local charm.
<i class="fa-solid fa-quote-right"></i></p>
                        </div>   
                        <img src="/images/abt004.jpg" alt="Room Image">
                    </div>  
                </section>
                <!-- Our Team info -->
                <section id="team">
                    <!-- The first div of the team info -->
                    <div class="team-container">
                         <div class="team-member">
                    <img src="../images/mint.jpeg" alt="Mint Profile Picture">
                    <h2>Napasorn Jutrakul</h2>
                    <h3>General Manager</h3>
                    <p>
                        Responsible for the management of all 
                        general operation of the hotel.
                    </p>
                   </div>
                   <!--The second div of the team info   -->
                   <div class="team-member">
                    <img src="../images/pooja.jpeg" alt="Pooja Profile Picture">
                    <h2>Pooja Sahu</h2>
                    <h3>Deputy Assistant Manager</h3>
                    <p>
                        Responsible for managing the operations of 
                        the hotel as well as providing strategic support to the group.
                    </p>
                   </div>
                   <!--The third div of the team info   -->
                   <div class="team-member">
                    <img src="../images/yushan.jpg" alt="Yushan Profile Picture">
                    <h2>Yushan Xu</h2>
                    <h3>Financial Director</h3>
                    <p>Manage the day to day accounting functions of the hotel.</p>
                   </div>
                   <!--The fourth div of the team info   -->
                   <div class="team-member">
                    <img src="../images/wen.jpeg" alt="Wen Profile Picture">
                    <h2>Wen Lou</h2>
                    <h3>Front Office Manager</h3>
                    <p>Managing and training the Front Office staff.</p>
                   </div>
                    </div>
                  
                </section>
            </main>
            <footer class="footer">
                <div class="footer-container">
                    <div class="row">
                        <div class="footer-col">
                            <div class="footer-logo">
                                <a href="/">
                                    <img class="footer-logo" src="/images/logo_hotel_white.png" alt="Home">
                                </a>
                            </div>
                        </div>
                        <div class="footer-col">
                            <h4>HOTEL</h4>
                            <ul>
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/rooms-facilities">Our Rooms</a></li>
                                <li><a href="/rooms-facilities">Our facilities</a></li>
                                <li><a href="/attractions">Attractions</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>HELP CENTER</h4>
                            <ul>
                                <li><a href="/support">Contact us & FAQs</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>CONTACT INFO</h4>
                            <ul>
                                <li><p>Phone: +44 1234 567 890</p></li>
                                <li><p>Email: <a href="mailto:contact@crownhotel.co.uk">contact@crownhotel.co.uk</a></p></li>
                                <li><p>Location: 100 Smart Street, Norwich, UK</p></li>
                            </ul>
                            <div class="social-links">
                            <a href="#"><i class="fa-brands fa-square-facebook fa-xl"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <p>© 2023  The Crown Hotel | All rights reserved</p>
                </div>
             </footer>
    </body>

</html>