<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Crown Hotel | Attractions</title>
        <!-- CSS for header & footer -->
        <link rel="stylesheet" href="../css/header-footer.css">
        <link rel="stylesheet" href="../css/attractions.css">
        <link rel="stylesheet" href="../css/banner.css">
        <script src="/js/toggle-bar.js" defer></script>
        <!-- icon from fontawesome -->
        <script src="https://kit.fontawesome.com/cc44fc4986.js" crossorigin="anonymous"></script>
        <!-- import font family GFS Didot -->
        <link href="https://fonts.cdnfonts.com/css/gfs-didot" rel="stylesheet">
        <link rel="icon" href="/images/logo_hotel_black.png" type="image/icon type">
        <!-- import favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        <!-- begin header -->
        <header id="navbar">
            <nav class="navbar-container container">
                <a href="/" class="home-link"><img src="../images/logo_hotel_black.png" alt="Home"></a>
                <!-- begin toggle button -->
                <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <!-- end toggle button -->
                <div id="navbar-menu" aria-labelledby="navbar-toggle">
                <ul class="navbar-links">
                    <li class="navbar-item"><a class="navbar-link" href="/about-us">About Us</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/rooms-facilities">Rooms & Facilities</a></li>
                    <li class="navbar-item active"><a class="navbar-link" href="/attractions">Attractions</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/manage-booking">Manage Booking</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/support">Support</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/booking">Book a Stay</a></li>
                </ul>
                </div>
            </nav>
        </header>
            <!-- end header -->
        <!-- END Header -->
         <main>
            <div class="img-container">
                <div class="inner-container">
                    <!-- insert text -->
                    <h1>ATTRACTIONS</h1>
                    <!-- end text -->
                </div>
            </div>
            <h2 class="title-font">Local Attractions</h2>
            <div class="col-4-container">
                <div class="content-container">
                    <img src="../images/Noewich Cathedral.png" alt="Norwich Cathedral">
                    <div class="distance">
                        <i class="fa-solid fa-car" style="color: #434341;"></i>
                        <p>10 mins ride</p>
                    </div>
                    <div class="txt-con">
                        <h3>Norwich Cathedral</h3>
                        <p>A place of worship, a historic treasure, an iconic landmark. For over 900 years Norwich Cathedral has been a sacred space at the heart of our city.</p>
                    </div>
                </div>
                <div class="content-container">
                    <img src="../images/Elm Hill.png" alt="Elm Him">
                    <div class="distance">
                        <i class="fa-solid fa-person-walking" style="color: #434341;"></i>
                        <p>5 mins walk</p>
                    </div>
                    <div class="txt-con">
                        <h3>Elm Hill</h3>
                        <p>Explore craft shops, antiques and galleries, visit tea shops, coffee houses and fascinating history.</p>
                        <p>Elm Hill is the most complete medieval street in the city.</p>
                    </div>
                </div>
                <div class="content-container">
                    <img src="../images/Cathedral Cloisters.png" alt="Cathedral Cloisters">
                    <div class="distance">
                        <i class="fa-solid fa-car" style="color: #434341;"></i>
                        <p>8 mins ride</p>
                    </div>
                    <div class="txt-con">
                        <h3>Cathedral Cloisters</h3>
                        <p>The beautiful Cloister is the largest monastic cloister in the country, an architectural marvel that is a simply stunning place to explore.</p>
                        <p>It is also the oldest and best preserved open air cloisters in England.</p>
                    </div>
                </div>
                <div class="content-container">
                    <img src="../images/Norwich Airport.png" alt="Norwich Airport ">
                    <div class="distance">
                        <i class="fa-solid fa-car" style="color: #434341;"></i>
                        <p>15 mins ride</p>
                    </div>
                    <div class="txt-con">
                        <h3>Norwich Airport</h3>
                        <p>Nestled in the heart of Norfolk, Norwich Airport is a vibrant and welcoming hub for traveller seeking to explore this charming region.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- end content -->
        <!-- begin footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="row">
                    <div class="footer-col">
                        <div class="footer-logo">
                            <a href="/">
                                <img class="footer-logo" src="/images/logo_hotel_white.png" alt="Home">
                            </a>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>HOTEL</h4>
                        <ul>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/rooms-facilities">Our Rooms</a></li>
                            <li><a href="/rooms-facilities">Our facilities</a></li>
                            <li><a href="/attractions">Attractions</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>HELP CENTER</h4>
                        <ul>
                            <li><a href="/support">Contact us & FAQs</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>CONTACT INFO</h4>
                        <ul>
                            <li><p>Phone: +44 1234 567 890</p></li>
                            <li><p>Email: <a href="mailto:contact@crownhotel.co.uk">contact@crownhotel.co.uk</a></p></li>
                            <li><p>Location: 100 Smart Street, Norwich, UK</p></li>
                        </ul>
                        <div class="social-links">
                        <a href="#"><i class="fa-brands fa-square-facebook fa-xl"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>© 2023  The Crown Hotel | All rights reserved</p>
            </div>
         </footer>
         <!-- end footer -->
    </body>
</html>