<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Crown Hotel | Rooms & Facilities</title>
        <!-- CSS for header & footer -->
        <link rel="stylesheet" href="/css/header-footer.css">
        <link rel="stylesheet" href="/css/rooms-facilities.css">
        <link rel="stylesheet" href="/css/banner.css">
        <script src="/js/toggle-bar.js" defer></script>
        <script src="/js/gallery.js" defer></script>
        <!-- icon from fontawesome -->
        <script src="https://kit.fontawesome.com/cc44fc4986.js" crossorigin="anonymous"></script>
        <!-- import font family GFS Didot -->
        <link href="https://fonts.cdnfonts.com/css/gfs-didot" rel="stylesheet">
        <link rel="icon" href="/images/logo_hotel_black.png" type="image/icon type">
        <!-- import favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
    </head>
    <body>
    <!-- begin header -->
    <header id="navbar">
        <nav class="navbar-container container">
            <a href="/" class="home-link"><img src="../images/logo_hotel_black.png" alt="Home"></a>
            <!-- begin toggle button -->
            <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <!-- end toggle button -->
            <div id="navbar-menu" aria-labelledby="navbar-toggle">
            <ul class="navbar-links">
                <li class="navbar-item"><a class="navbar-link" href="/about-us">About Us</a></li>
                <li class="navbar-item active"><a class="navbar-link" href="/rooms-facilities">Rooms & Facilities</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/attractions">Attractions</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/manage-booking">Manage Booking</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/support">Support</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/booking">Book a Stay</a></li>
            </ul>
            </div>
        </nav>
    </header>
        <!-- end header -->
        <main>
            <!-- begin banner -->
            <div class="img-container">
                <div class="inner-container">
                    <h1>ROOMS &</h1><br>
                    <h1>FACILITIES</h1>
                </div>
            </div>
            <!-- end banner -->
            <!-- scrollable images -->
            <h2 class="title-font">Our Rooms</h2>
            <div class="abt-nav">
                <nav>
                <a href="#std_d">Standard Double Room</a>
                <a href="#std_t">Standard Twin Room</a>
                <a href="#sup_d">Superior Double Room</a>
                <a href="#sup_t">Superior Twin Room</a>
                </nav>
            </div>
            <section id="std_d">
                <div class="scroll-view-container">
                    <!-- Slides with 4 items -->
                    <div class="slide" id="slide slide_std_d" >
                        <div class="item" style="background-image: url(/images/std_d/room1.png);"></div>
                        <div class="item" style="background-image: url(/images/std_d/room2.png);"></div>
                        <div class="item" style="background-image: url(/images/std_d/room3.png);"></div>
                        <div class="item" style="background-image: url(/images/std_d/room4.png);"></div>
                        <div class="item" style="background-image: url(/images/std_d/room5.png);"></div>
                        <div class="item" style="background-image: url(/images/std_d/room6.png);"></div>
                    </div>
                    <div class="buttons">
                        <div class="s_button prev" data-target="slide_std_d">&lt;</div>
                        <div class="s_button next" data-target="slide_std_d">&gt;</div>
                    </div>
                </div>
            </section>
            <section id="std_t">
                <div class="scroll-view-container">
                    <!-- Slides with 4 items -->
                    <div class="slide" id="slide slide_std_t" >
                        <div class="item" style="background-image: url(/images/std_t/room7.jpg);"></div>
                        <div class="item" style="background-image: url(/images/std_t/room8.jpg);"></div>
                        <div class="item" style="background-image: url(/images/std_t/room9.jpg);"></div>
                        <div class="item" style="background-image: url(/images/std_t/room10.jpg);"></div>
                        <div class="item" style="background-image: url(/images/std_t/room11.jpg);"></div>
                        <div class="item" style="background-image: url(/images/std_t/room12.jpg);"></div>
                        <div class="item" style="background-image: url(/images/std_t/room13.jpg);"></div>
                    </div>
                    <div class="buttons">
                        <div class="s_button prev" data-target="slide_std_t">&lt;</div>
                        <div class="s_button next" data-target="slide_std_t">&gt;</div>
                    </div>
                </div>
            </section>
            <section id="sup_d">
                <div class="scroll-view-container">
                    <!-- Slides with 4 items -->
                    <div class="slide" id="slide slide_sup_d" >
                        <div class="item" style="background-image: url(/images/sup_d/room14.png);"></div>
                        <div class="item" style="background-image: url(/images/sup_d/room15.jpg);"></div>
                        <div class="item" style="background-image: url(/images/sup_d/room16.jpg);"></div>
                        <div class="item" style="background-image: url(/images/sup_d/room17.jpg);"></div>
                        <div class="item" style="background-image: url(/images/sup_d/room18.jpg);"></div>
                        <div class="item" style="background-image: url(/images/sup_d/room19.jpg);"></div>
                    </div>
                    <div class="buttons">
                        <div class="s_button prev" data-target="slide_sup_d">&lt;</div>
                        <div class="s_button next" data-target="slide_sup_d">&gt;</div>
                    </div>
                </div>
            </section>
            <section id="sup_t">
                <div class="scroll-view-container">
                    <!-- Slides with 4 items -->
                    <div class="slide" id="slide slide_sup_t" >
                        <div class="item" style="background-image: url(/images/sup_t/room20.png);"></div>
                        <div class="item" style="background-image: url(/images/sup_t/room21.png);"></div>
                        <div class="item" style="background-image: url(/images/sup_t/room22.png);"></div>
                        <div class="item" style="background-image: url(/images/sup_t/room23.png);"></div>
                        <div class="item" style="background-image: url(/images/sup_t/room24.png);"></div>
                        <div class="item" style="background-image: url(/images/sup_t/room25.png);"></div>
                    </div>
                    <div class="buttons">
                        <div class="s_button prev" data-target="slide_sup_t">&lt;</div>
                        <div class="s_button next" data-target="slide_sup_t">&gt;</div>
                    </div>
                </div>
            </section>

            <h2 class="title-font">Our Facilities</h2>
            
            <div class="facility-container">
                <div class="container-img-left">
                    <img src="/images/gym002.jpg" alt="gym">
                    <div class="text-container-right">
                        <h3>The Gym</h3>
                        <p>Our on-site gym offers a fully-equipped gym suite, showers, and a steam room. Guests can benefit from a variety of facilities such as cardio equipment, strength and resistance kits, as well as a range of fitness classes and personal trainers.</p>
                    </div>
                </div>
                <div class="container-img-right">
                    <div class="text-container-left">
                        <h3>The Bar</h3>
                        <p>The perfect place for a relaxing drink with family and friends. Our bar offers a range of local beers on tap, wines, spirits and hot drinks such as coffee, teas and hot chocolate. Drinks are served from 
                        11am - 11pm daily.</p>
                    </div>
                    <img src="/images/bar.png" alt="bar">
                </div>
                <div class="container-img-left">
                    <img src="/images/restaurant001.jpg" alt="restaurant">
                    <div class="text-container-right">
                        <h3>The Restaurant</h3>
                        <p>Enjoy exquisite cuisine and expertly paired wine at our restaurant. Savour a variety of cuisines including modern British, classic French as well as our award-winning vegetarian and vegan menus. Open for breakfast, brunch, lunch and dinner.</p>
                    </div>
                </div>
                <div class="container-img-right">
                    <div class="text-container-left">
                        <h3>The Function Room</h3>
                        <p>We have three function rooms available for private hire. Our function rooms are perfect for all occasions, from wedding celebrations to birthday parties as well as for formal meetings. The rooms can accommodate up to 60 people. Please enquire at reception if you would like to hire the function rooms.</p>
                    </div>
                    <img src="/images/meeting_room.png" alt="meeting room">
                </div>
            </div>
        </main>
        <!-- end content -->
        <!-- begin footer -->
        <footer class="footer">
            <div class="footer-container">
                <div class="row">
                    <div class="footer-col">
                        <div class="footer-logo">
                            <a href="/">
                                <img class="footer-logo" src="../images/logo_hotel_white.png" alt="Home">
                            </a>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>HOTEL</h4>
                        <ul>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/rooms-facilities">Our Rooms</a></li>
                            <li><a href="/rooms-facilities">Our facilities</a></li>
                            <li><a href="/attractions">Attractions</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>HELP CENTER</h4>
                        <ul>
                            <li><a href="/support">Contact us & FAQs</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>CONTACT INFO</h4>
                        <ul>
                            <li><p>Phone: +44 1234 567 890</p></li>
                            <li><p>Email: <a href="mailto:contact@crownhotel.co.uk">contact@crownhotel.co.uk</a></p></li>
                            <li><p>Location: 100 Smart Street, Norwich, UK</p></li>
                        </ul>
                        <div class="social-links">
                        <a href="#"><i class="fa-brands fa-square-facebook fa-xl"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>© 2023  The Crown Hotel | All rights reserved</p>
            </div>
         </footer>
        <!-- end footer -->
    </body>
</html>