
/* Begin css for banner */
.img-container {
  height: 700px;
  background-image: url("../images/banner_attractions.jpg"); /* put your image here */
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

h1 {
  font-size: 110px;
}
/* responsive */
@media only screen and (max-width: 1000px) {
  .img-container {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 574px) {
  .img-container {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 40px;
  }
}
/* end css for banner */

/* Heading font style: our rooms & our facilities */
.title-font {
  font-size: 35px;
  text-align: center;
  padding: 50px 0px;
}

/* content container */
.col-4-container {
  margin: auto 15%;
  padding: 16px;
  display: flex;
}

.content-container {
  flex: 1;
  margin: 0 40px;
}

.distance {
  margin: 10px auto 30px auto;
  display: inline-flex;
  color: #434341;
  font-size: 16px;
}

.distance i {
  margin-right: 12px;
}

.txt-con h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.txt-con p {
  font-size: 16px;
}

.content-container img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .col-4-container {
    margin: auto 11%;
    padding: 0px;
    display: block;
  }

  .txt-con p {
    margin-bottom: 30px;
  }

  .img-container {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 574px) {
  .title-font {
    font-size: 26px;
    text-align: center;
    padding: 50px 0px;
  }
}
