.hide {
  height: 0;
  overflow: hidden;
}

.show {
  height: auto;
  margin: 15px 0 30px 0;
}

/* #add-room-form {
  margin: 15px 0 30px 0;
} */

#room-type {
  height: 1.8rem;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius:10px;
}

.h-line {
  margin: 2% 0;
}

.room-types {
  font-size:1rem;
  font-weight:bold;
}

#cancel-booking, #add-room {
  color: #000000; 
  text-decoration: underline; 
  cursor: pointer; 
  font-size:1.1rem;
}

#cancel-booking:hover {
  color:#4c4a47
}

.column2 {
  padding:5% 0;
}

#cancel-booking {
  font-size:1.1rem;
}

#support_link {
  /* text-decoration: none; */
  color: black;
  font-size: 1rem;
}

#support_link:hover {
  color:#4c4a47;
}

.cost{
  padding-top:2%;
}

.check-title {
  font-size: 1rem;
}

#booking-title {
  padding-bottom:2%;
  font-size: 1.5rem;
}

.booking-reference {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 10% 10% 10%;
}

.reference-title {
  padding-bottom: 20px;
}

.reference-box {
  background-color: #e7e6e0;
  padding: 30px;
  border-radius: 5px;
  width: 100%;
}

.detailed-msg {
  text-align: start;
}

.booking-msg {
padding: 10px;
border: solid 1px #4c4a47;
border-radius: 5px;
}

.welcome-msg {
  width: 80%;
  padding: 10px;
}
.vertical-hr {
  margin: 10px;
  display: none;
}

.vertical-info {
  margin-bottom: 10px;
  text-align: start;
}
.check {
  width: 100%;
}
.check p {
  font-size: 1rem;
}
.check small {
  font-size: 0.8rem;
}
.btn {
  margin: 5%;
}

button {
  width: 8em;
  height: 2.5em;
  border-radius: 1em;
  font-size: 12px;
  cursor: pointer;
  background-color: #3b3633;
  color: #f0eddf;
}

button:hover {
  background-color: #4c4a47;
  transform: scale(1.05);
  transition: 0.45s;
}

@media only screen and (min-width: 600px) {
  .booking-reference {
    margin: 5% 20% 10% 20%;
  }

  .reference-title {
    padding-bottom: 30px;
  }

  .reference-box {
    padding: 50px;
    max-width: 100%;
  }

  .detailed-msg {
    display: flex;
    flex-direction: row;
  }

  .booking-msg {
    width: 50%; /* Increase the width for larger screens */
    margin-left: 20px; /* Adjusted margin for larger screens */
  }

  .welcome-msg {
    width: 100%;
  }

  .check {
    display: flex;
    flex-direction: row;
    padding-bottom:2%;
  }

  .vertical-hr {
    display: block;
  }

  .vertical-info {
    margin-bottom: 20px;
  }




.column1 {
  float: left;
  width: 60%;
  }

.column2 {
  float: left;
  width: 30%;
  padding:3% 0;
  }

.vertical-line {
  display:flex;
  float:left;
  border-left: 1px solid rgb(0, 0, 0);
  height: 25rem;
  padding-left:2%;
  padding-right:2%;
  }
  
  .column2 hr {
    margin-top:5%;
    margin-bottom: 5%;
  }
}




