
main {
  margin: 8% 20% 20% 20%;
  padding: 16px;
}

h1 {
  margin: 5% 0;
}

h3 {
  margin: 1% 0 1% 0;
}

#bookingReference {
  margin: 1% 2% 2% 0;
  border: none;
  height: 39px;
  width: 100%; 
  max-width: 500px; 
  border-radius: 8px;
}

#search {
  border: none;
  height: 39px;
  color: white;
  background-color: black;
  width: 100%;
  max-width: 100px; 
  border-radius: 8px;
}

#search:hover {
  background-color: #5a5a5a;
  padding-bottom: 5px;
}

#search:active {
  background-color: #292929;
}

#support_link {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

#support_link:hover,
#support_link:visited {
  color: #5a5a5a;
}

/* Add background color to the form */
form#form {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  main {
    margin: 8% 10% 20% 10%; /* Adjust margins for smaller screens */
  }

  #bookingReference {
    width: 100%; /* Set width to 100% for responsiveness on smaller screens */
    max-width: none; /* Reset max-width for smaller screens */
  }

  #search {
    width: 100%; /* Set width to 100% for responsiveness on smaller screens */
    max-width: none; /* Reset max-width for smaller screens */
  }
}
